<!-- <ion-item (click)="openInput(); onTouched()">
  {{ formattedAmount }}
  <ion-input 
    (blur)="onTouched()"
    (ionBlur)="onTouched()"
    [disabled]="disabled"
    name="dummyFacade" 
    id="dummyFacade" 
    #dummyFacade 
    type="number" 
    inputmode="numeric"
    (keyup)="handleKeyUp($event)" 
    (ionInput)="handleEvent($event)"
    >
  </ion-input>
</ion-item> -->
<h2>Value in component: {{ value }}</h2>
<h2>Amount in component: {{ amount }}</h2>
<ion-item (click)="openInput()">
  {{ formattedAmount }}
  <ion-input
    #dummyFacade
    name="dummyFacade"
    id="dummyFacade"
    type="number"
    [value]="value"
    (ionBlur)="onTouched()"
    (input)="onChange($event.target.value)"
    (ionInput)="handleEvent($event)"
    [disabled]="disabled"
    class="form-control"
    (keyup)="handleKeyUp($event)"
  >
  
  
</ion-input>
</ion-item>