<div class="form-group">
    <label>
        <ng-content></ng-content>
    </label>
    <ion-item (click)="openInput()">
        {{ formattedAmount }}
        <ion-input 
            [disabled]="disabled"
            #dummyFacade 
            id="dummyFacade"
            inputmode="numeric" 
            (ionInput)="handleInput($event); onChange(getTrimmedAmount())"
            (keyup)="handleKeyUp($event); onChange(getTrimmedAmount()) "
            name="dummyFacade" 
            type="number" 
        >
        </ion-input>
    </ion-item>
</div>