<h4>
  Reusable Form Control
</h4>

<div class="form-group">
  <label>
    <ng-content></ng-content>
  </label>
  <ion-item (click)="openInput()">
    {{ formattedAmount }}
    <ion-input 
      [class.is-invalid]="ngControl.invalid"
      #dummyFacade 
      [formControlName]="ngControl.control" 
      id="dummyFacade" 
      inputmode="numeric"
      (ionInput)="handleInput($event)" 
      (keyup)="handleKeyUp($event)" 
      name="dummyFacade" 
      type="number" 
      max="max"
      min="min">
    </ion-input>
  </ion-item>




  <ng-container *ngFor="let validation of validation_messages.ngControl">
    <ion-row *ngIf="form.get('ngControl.control').hasError(validation.type) && (form.get('ngControl.control').dirty || form.get('ngControl.control').touched)">
     <div class="error-message">
        {{ validation.message }}
     </div> 
    </ion-row>
  </ng-container>
    <!-- <ion-button (click)="showValue()">Show Value</ion-button> -->
    <!-- <div class="error-message"
      *ngIf="this.form.get('annualSales').hasError(validation.type) && (this.form.get('annualSales').dirty || this.form.get('annualSales').touched)">
      {{ validation.message }}
    </div> -->
</div>
<!-- *ngIf="ngControl.control.hasError(validation.type) && ngControl.control.dirty || ngControl.control.touched"> -->



<!-- 
<h5>Formatted Value: includes commas and dollar sign</h5>
<label>this.formattedValue  {{ this.formattedAmount }}</label>
<br>
<label>this.formattedValue.length {{ this.formattedAmount.length }}</label>
<br>
<br>
<h5>Trimmed Value: only the entered digits and a decimal</h5>
<label>this.trimmedValue {{ this.getTrimmedValue() }}</label>
<br>
<label>this.trimmedValue.length {{ this.getTrimmedValue().length }} </label>
<br>
<br>
<h5>Amount: Only the digits entered</h5>
<label>this.amount.length:  {{ this.amount.length }}</label>
<br>
<label>this.amount {{ this.amount }} </label>
<br>
<br> -->
<!-- <label>this.amount.value {{ this.amount.valueOf() }}</label> -->
<!-- <br> -->
<!-- <label>this.trimmedValue {{ this.trimmedValue }}</label> -->